<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}

    {{ content }}

    <footer id="contact">
        <div class="container">
            <a href="mailto:{{ site.email }}">Email</a> &nbsp;&middot;&nbsp;
            <a href="https://scholar.google.com/citations?hl=ja&user=jT-CXx8AAAAJ" target="_blank">Google Scholar</a> &nbsp;&middot;&nbsp;
            <a href="https://orcid.org/0000-0002-6516-2567" target="_blank">ORCID</a> &nbsp;&middot;&nbsp;
            <a href="https://www.linkedin.com/in/yohei-cho-b8b5b411a/" target="_blank">LinkedIn</a> &nbsp;&middot;&nbsp;
            <a href="https://twitter.com/YoheiCho" target="_blank">X</a>
        </div>
    </footer>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
